@media screen and (max-width: 992px) {
   // body {
   //    padding: 100px;
   //    background: red;
   // }
   .info {
      gap: 50px;
      &__nav {
         gap: 84px;
      }
      &__nav {
         gap: 20px;
      }
   }

   .menu {
      gap: 10px;
   }
}
@media screen and (max-width: 768px) {
   .main {
      gap: 70px;
   }
   .menu {
      display: none;
   }

   .first-screen__title {
      max-width: 400px;
      font-size: 36px;
   }
   .descr {
      &__suptitle {
         margin-bottom: 20px;
      }
      &__title {
         margin-bottom: 15px;
         line-height: 1.3;
         font-size: 22px;
         max-width: 315px;
      }
      &__data {
         margin-bottom: 40px;
      }
      &__text {
         max-width: 350px;
      }
   }

   .article {
      flex-wrap: wrap;
   }
}
