@media screen and (max-width: 992px) {
   body {
      // padding: 100px;
      // background: red;
   }
   .info {
      gap: 50px;
      &__nav {
         gap: 84px;
      }
      &__nav {
         gap: 20px;
      }
   }

   .menu {
      gap: 10px;
   }
}
