@import "normalize";
@import "extends";
@import "mixins";
@import "vars";
@import "media";

* {
   box-sizing: border-box;
   padding: 0;
   margin: 0;
}

html,
body {
   min-height: 100vh;
   font-family: $font_family;
   font-size: $font_size;
   font-weight: $font_weight;
   color: $color_main;
   background: $background_main;
}

// body {
//    @include flex(flex-start, center, 0, column);
// }

.header,
.first-screen,
.content,
.footer {
   padding: 0 calc(50vw - $adaptive_width_content);

   @media screen and (max-width: 1200px) {
      padding: 0 calc(50vw - calc($adaptive_width_content - 12%));
   }

   @media screen and (max-width: 992px) {
      padding: 0 calc(50vw - calc($adaptive_width_content - 26.5%));
   }

   @media screen and (max-width: 768px) {
      padding: 0 15px;
   }

   @media screen and (max-width: 576px) {
      padding: 0 15px;
   }
}

.header {
   @include flex(justify-content, center, 2vw);
   padding-top: 40px;
   padding-bottom: 40px;
}

.logo {
   flex-grow: 1;
}

.nav {
   padding: 0 30px;
   position: relative;
   @media screen and (max-width: 820px) {
      order: 2;
      margin-left: 20px;
   }
}

.menu {
   @include flex(space-between, center, 2.3vw);

   @media screen and (max-width: 820px) {
      position: absolute;
      right: 0;
      top: 50px;
      width: 30vw;
      flex-direction: column;
      z-index: 2;
      background: #f59b6a;
      display: none;
      // visibility: hidden;
      // opacity: 0;
      padding: 0 0;
      -moz-column-gap: 0;
      gap: 0;
      box-shadow: 1px 5px 11px 4px #bf612e;
   }

   &__item {
      @media screen and (max-width: 820px) {
         width: 100%;
         padding: 10px 0;
         text-align: center;
         border: 1px solid #fff;
      }
   }

   &__item:active::after {
      content: "";
      position: absolute;
      width: 60%;
      border: 1px solid $color_main;
      left: 15%;
      bottom: -27%;
   }
   &__link {
      font-size: 14px;
      line-height: 1.2;
      letter-spacing: 0.3em;
      text-transform: uppercase;
      color: $color_main;
   }
}

.burger {
   display: block;
   position: absolute;
   right: 34px;
   top: 50%;
   transform: translateY(-50%);
   width: 34px;
   height: 20px;
}

.burger-input {
   display: none;
   cursor: pointer;
}
.burger span {
   @media screen and (max-width: 820px) {
      display: block;
      width: 100%;
      border: 2px solid #000000;
      margin-bottom: 10px;
   }
}

.burger-input:checked ~ .menu {
   display: flex;
}

.burger:active span:nth-child(1) {
   transform: translateY(3px) rotate(-45deg);
   margin-bottom: -2px;
}

.burger:active span:nth-child(2) {
   display: none;
}

.burger:active span:nth-child(3) {
   transform: translateY(3px) rotate(45deg);
   margin-bottom: -2px;
}

.burger-input:checked .nav__search img {
   width: 100%;
   height: auto;
}

.blog {
   margin-bottom: 90px;
}

.first-screen {
   background: url("../assets/img/home.png") center center/contain no-repeat;
   background-size: 100% 100%;
   margin-bottom: 90px;
   &__title {
      max-width: 770px;
      padding-top: 100px;
      padding-bottom: 380px;
      font-family: "Red Hat Display";
      font-weight: 600;
      font-size: 48px;
      line-height: 1.3;
      letter-spacing: 0.05em;
      color: $color_main;
      z-index: 0;
   }
}

.article {
   &:first-of-type {
      margin-bottom: 50px;
   }
   @include flex(space-between, center, 30px);
   &__img {
      width: 50%;
      img {
         width: 100%;
         display: block;
      }
   }
}

.article_reverse {
   flex-direction: row-reverse;
}

.blog__title {
   font-family: "Red Hat Display";
   font-size: 48px;
   line-height: 1.3;
   letter-spacing: 0.05em;
   color: $color_main;
   margin-bottom: 50px;
   max-width: 369px;
}

.descr {
   width: 50%;
   &__suptitle,
   &__data {
      line-height: 166%;
      letter-spacing: 0.1em;
      color: #7b7b7b;
      margin-bottom: 30px;
   }
   &__title {
      font-family: "Red Hat Display";
      font-weight: 500;
      font-size: 23px;
      line-height: 166%;
      letter-spacing: 0.1em;
      margin-bottom: 15px;
      max-width: 369px;
   }
   &__data {
      margin-bottom: 50px;
   }
   &__text {
      max-width: 448px;
      line-height: 166%;
      letter-spacing: 0.05em;
      color: #565656;
   }
}

//-------media--------////

@media screen and (max-width: 992px) {
   .menu {
      &__link {
         font-size: 12px;
         line-height: 1.2;
         letter-spacing: 0.2em;
      }
   }
   .first-screen__title {
      max-width: 600px;
      font-size: 36px;
   }
   .descr {
      &__suptitle {
         margin-bottom: 20px;
      }
      &__title {
         margin-bottom: 5px;
         line-height: 1.3;
         font-size: 23px;
         max-width: 315px;
      }
      &__data {
         margin-bottom: 40px;
      }
      &__text {
         max-width: 350px;
         font-size: 14px;
      }
   }
}

@media screen and (max-width: 768px) {
   .main {
      gap: 70px;
   }
   .menu {
      display: none;
   }

   .first-screen__title {
      max-width: 400px;
      font-size: 36px;
   }
   .descr {
      &__suptitle {
         margin-bottom: 20px;
      }
      &__title {
         margin-bottom: 15px;
         line-height: 1.3;
         font-size: 22px;
         max-width: 315px;
      }
      &__data {
         margin-bottom: 40px;
      }
      &__text {
         max-width: 350px;
      }
   }

   .article {
      flex-wrap: wrap;
   }
}

@media screen and (max-width: 576px) {
   .container {
      max-width: 300px;
   }
   .main {
      gap: 70px;
   }
   .menu {
      display: none;
   }

   .first-screen__title {
      max-width: 400px;
      font-size: 30px;
      font-weight: 600;
   }

   .blog__title {
      text-align: center;
   }

   .article {
      width: 100%;
      justify-content: center;

      &__img {
         width: 100%;
      }
      &__descr {
         width: 100%;
      }
   }

   .descr {
      &__suptitle {
         margin-bottom: 20px;
      }
      &__title {
         margin-bottom: 10px;
         line-height: 1.3;
         font-size: 22px;
      }
   }
}
